@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.gradient-btn {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.gradient-btn:hover {
  transform: scale(1.05);
}
